<div class="container">
    <div class="jumbotron" ng-controller="actorCtrl">
    <h1>Movie App - Actors Gallery</h1>
    Search by First Name: <input type="text" ng-model="query.firstName" />
    <br>
    <br>
    <button type="button" class="btn btn-default" ng-click="sortByFirstName()">Sort by First Name</button>
    <br>
    <br>
    <div class="row">   
    <div ng-repeat="actor in actors | filter : query | orderBy: orderProp " class="column col-xs-12 col-sm-10 col-md-5 col-lg-4">
        <a href= {{actor.imdbURL}} target="_blank">
        <img ng-src={{actor.img}} alt=""/>
        <br>
        <br>
        {{actor.firstName+ ' ' +actor.lastName}}
        <br>
        <br>
        <br>
        <br>
        
    </div> 
    </div>
    </div>
</div>